{% extends "management/basic.html" %}
{% block title %}添加图书{% endblock %}

<div class="main-content">

    {% if state == 'success' %}
    <div style="width: 100%;">Added success!!!!!</div>
    {% endif %}

    <div class="head">Add book here</div>
    <div class="author">
        <form method="get" role="form">
            {% csrf_token %}

            <div class="form-group">
                <label for="id_title" class="col-md-3 control-label">Book Title：</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="id_title" required name="new_title" value="{{ book_content.book_info.title }}" autofocus>
                </div>
            </div>

            <div class="form-group">
                <label for="id_isbn" class="col-md-3 control-label">ISBN：</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" required readonly name="isbn" id="id_isbn" value="{{ book_content.book_info.isbn }}">
                </div>
            </div>

            <div class="authors">
                {% for author in all_author %}
                    <label for="id_a_ids">{{ author.name }} | {{ author.age }}岁 | {{ author.country }}</label>
                    <input id="id_a_ids" type="checkbox" value="{{ author.author_id }}" name="new_authors"/>
                    <br>
                {% endfor %}


            </div>

            <div class="form-group">
                <label for="id_publisher" class="col-md-3 control-label">Publisher：</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" required name="new_publisher" id="id_publisher" value="{{ book_content.book_info.publisher }}">
                </div>
            </div>

            <div class="form-group">
                <label for="id_publish_date" class="col-md-3 control-label">Publish Date：</label>
                <div class="col-md-9">
                    <input type="date" class="form-control" required name="new_publish_date" id="id_publish_date" value="{{ book_content.book_info.publish_date | date:'Y-m-d' }}">
                </div>
            </div>

            <div class="form-group">
                <label for="id_price" class="col-md-3 control-label">Publish Date：</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" required name="new_Price" id="id_price" value="{{ book_content.book_info.Price }}">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn btn-primary btn-block" type="submit">提交</button>
                </div>
            </div>

        </form>
    </div>
</div>
