{% extends "management/basic.html" %}
{% block title %}Update Author{% endblock %}

{% block content %}
<div class="main-content">
    <div class="fluid-container">
        <div class="content-wrapper" style="margin-top: 10em">
            <div class="page-section" id="contact">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="widget-title">Change Author Here</h4>
                        {% if state == 'success' %}
                        <p>Changed Success</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <form action="/change_author_detail/" method="get" class="contact-form">
                        {% csrf_token %}
                        <fieldset class="col-md-12 col-sm-6">
                            <input type="hidden" id="your-name" name="author_id" value="{{ author_content.author_id }}" placeholder="Author Name...">
                        </fieldset>
                        <fieldset class="col-md-4 col-sm-6">
                            <input type="text" id="your-name" name="new_name" value="{{ author_content.name }}" placeholder="Author Name...">
                        </fieldset>
                        <fieldset class="col-md-4 col-sm-6">
                            <input type="text" id="email" name="new_age" value="{{ author_content.age }}" placeholder="Author Age...">
                        </fieldset>
                        <fieldset class="col-md-4 col-sm-12">
                            <input type="text" id="your-subject" name="new_country" value="{{ author_content.country }}"  placeholder="Author Country">
                        </fieldset>
                        <fieldset class="col-md-12 col-sm-12">
                            <input type="submit" class="button big default" value="Add" style="width: 8em">
                        </fieldset>
                    </form>
                </div> <!-- .contact-form -->
            </div>
        </div>
    </div>
</div>
{% endblock %}