{% extends "management/basic.html" %}
{% block title %}添加图书{% endblock %}

{% block content %}
    {% if state == 'show_recent' %}
    <div class="banner-bg" id="top">
        <div class="banner-overlay"></div>
        <div class="welcome-text">
            <h2>Library Manager</h2>
            <h5>In action how like an Angel. &nbsp In apprehension how like a God.</h5>
        </div>
    </div>
    {% endif %}

    <!-- MAIN CONTENT -->
    <div class="main-content">
            <div class="fluid-container">

                <div class="content-wrapper">

                    <!-- ABOUT -->
                    <div class="page-section" id="about">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="widget-title">Search Book</h4>
                                <div class="row">
                                    <form method="post" class="contact-form">
                                        {% csrf_token %}
                                        <fieldset class="col-md-8 col-sm-6">
                                            <input type="text" id="search-name" name="search_book" placeholder="Search Book">
                                        </fieldset>
                                        <fieldset class="col-md-3 col-sm-6">
                                            <input type="submit" class="button big default" value="Search">
                                        </fieldset>
                                    </form>
                                </div> <!-- .contact-form -->
                                <hr>
                            </div>
                        </div> <!-- #about -->
                    </div>

                    <div class="page-section" id="about">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="widget-title">Search Author</h4>
                                <div class="row">
                                    <form method="post" class="contact-form">
                                        {% csrf_token %}
                                        <fieldset class="col-md-8 col-sm-6">
                                            <input type="text" id="search-name" name="search_author" placeholder="Search Author">
                                        </fieldset>
                                        <fieldset class="col-md-3 col-sm-6">
                                            <input type="submit" class="button big default" value="Search">
                                        </fieldset>
                                    </form>
                                </div> <!-- .contact-form -->
                                <hr>
                            </div>
                        </div> <!-- #about -->
                    </div>
{#            {% if state == 'show_recent' %}#}
{#                {% for book in book_content %}#}
{#                    <div>#}
{#                        <a href="/show_book_detail?book_isbn={{ book.book_info.isbn }}">{{ book.book_info.title }}</a>#}
{#                         {{ book.book_info.isbn }} | {{ book.book_info.publisher }} | {{ book.book_info.publish_date }} | {{ book.book_info.Price }}#}
{#                        {% for author in book.authors_info %}#}
{#                            {{ author.name }} | {{ author.age }} | {{ author.country }}#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                {% endfor %}#}
                    <!-- PROJECTS -->
                    <div class="page-section" id="book_recent" style="padding-top: 20px">
                        {% if state == 'show_recent' or state == 'search_book_success' %}
                        <h4 class="widget-title">Recent Book</h4>
                        <div class="row" id="book_row">
                            <div class="book_detail">
                                <div class="row">
                                    <div class="col-md-2 book_right">Title</div>
                                    <div class="col-md-2 book_usual">ISBN</div>
                                    <div class="col-md-2 book_usual">Publisher</div>
                                    <div class="col-md-1 book_left">Price</div>
                                    <div class="col-md-5 book_usual">Author(s)</div>
                                </div>
                            </div>
                            {% for book in book_content %}
                                <div class="book_detail">
                                    <div class="row">
                                        <div class="col-md-2 book_right">
                                            <a href="/show_book_detail?book_isbn={{ book.book_info.isbn }}">
                                                {{ book.book_info.title }}
                                            </a>
                                        </div>
                                        <div class="col-md-2 book_usual">{{ book.book_info.isbn }}</div>
                                        <div class="col-md-2 book_usual">{{ book.book_info.publisher }}</div>
                                        <div class="col-md-1 book_left">￥{{ book.book_info.Price }}</div>
                                        <div class="col-md-5 book_usual">
                                            {% for author in book.authors_info %}
                                                <a href="/show_author_detail?author_id={{ author.author_id }}" style="padding: 0 0.4em;">
                                                    {{ author.name }}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        {% elif state == 'search_author_success' %}
                            <h4 class="widget-title">Search Author Result</h4>
                            <div class="row" id="book_row">
                            <div class="book_detail">
                                <div class="row">
                                    <div class="col-md-2 book_usual">Name</div>
                                    <div class="col-md-1 book_usual">Age</div>
                                    <div class="col-md-2 book_usual">Country</div>
                                    <div class="col-md-7 book_usual">Book</div>
                                </div>
                            </div>
                            {% for author in author_content %}
                                <div class="book_detail">
                                    <div class="row">
                                        <div class="col-md-2 book_usual">
                                            <a href="/show_author_detail?author_id={{ author.author.author_id }}">
                                                {{ author.author.name }}
                                            </a>
                                        </div>
                                        <div class="col-md-1 book_usual">{{ author.author.age }}</div>
                                        <div class="col-md-2 book_usual">{{ author.author.country }}</div>
                                        <div class="col-md-7 book_usual">
                                            <p>
                                                {% for book in author.books %}
                                                    <a href="/show_book_detail?book_isbn={{ book.isbn }}">
                                                        《{{ book.title }}》
                                                    </a>
                                                {% endfor %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        {% endif %}
                        <hr>
                    </div>

                    <div class="page-section" id="book_recent" style="padding-top: 20px">
                        <div class="row" id="footer">
                            <div class="col-md-12 text-center">HIT @<a href="tymrail.com">TymRail</a></div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
{##}
{#    <div class="container">#}
{#        <div>Welcome To Library Manager</div>#}
{#        <div class="search_banner">#}
{#            <form method="post" role="search">#}
{#                {% csrf_token %}#}
{#                <div class="search_book">#}
{#                    <label for="id_search_book">Search book</label>#}
{#                    <input type="search" id="id_search_book" name="search_book">#}
{#                </div>#}
{#                <div class="search_author">#}
{#                    <label for="id_search_author">Search author</label>#}
{#                    <input type="search" id="id_search_author" name="search_author">#}
{#                </div>#}
{#                <button type="submit">submit</button>#}
{#            </form>#}
{#        </div>#}
{##}
{#        <div>#}
{#            <a href="/show_book/">all books</a>#}
{#            <a href="/show_authors/">all authors</a>#}
{#            <a href="/add_book/">add book</a>#}
{#            <a href="/add_author/">add author</a>#}
{#        </div>#}
{##}
{#        <div class="show_banner">#}
{#            {% if state == 'show_recent' %}#}
{#                {% for book in book_content %}#}
{#                    <div>#}
{#                        <a href="/show_book_detail?book_isbn={{ book.book_info.isbn }}">{{ book.book_info.title }}</a>#}
{#                         {{ book.book_info.isbn }} | {{ book.book_info.publisher }} | {{ book.book_info.publish_date }} | {{ book.book_info.Price }}#}
{#                        {% for author in book.authors_info %}#}
{#                            {{ author.name }} | {{ author.age }} | {{ author.country }}#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                {% endfor %}#}
{#            {% elif state == 'search_book_success'%}#}
{#                {% for book in book_content %}#}
{#                    <a href="/show_book_detail?book_isbn={{ book.book_info.isbn }}">{{ book.book_info.title }}</a>#}
{#                      {{ book.book_info.isbn }} | {{ book.book_info.publisher }} | {{ book.book_info.publish_date }} | {{ book.book_info.Price }}#}
{#                        {% for author in book.authors_info %}#}
{#                            {{ author.name }} | {{ author.age }} | {{ author.country }}#}
{#                        {% endfor %}#}
{#                    <br>#}
{#                {% endfor %}#}
{#            {% elif state == 'search_author_success' %}#}
{#                {% for author in author_content %}#}
{#                    <a href="/show_author_detail?author_id={{ author.author.author_id }}">{{ author.author.name }} </a>#}
{#                     {{ author.author.age }} | {{ author.author.country }} <br>#}
{#                    {% for book in author.books %}#}
{#                        {{ book.title }} | {{ book.isbn }} | {{ book.Price }} <br>#}
{#                    {% endfor %}#}
{#                {% endfor %}#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{# {% static 'css/bootstrap.min.css' %} #}
{% endblock %}