#book_recent{

}

.book_right{
    text-align: right;
}

.book_usual{
    text-align: center;
}

.book_left{
    text-align: left;
}

#book_row{
    margin-right: 0;
    margin-left: 0;
}

.book_detail{
    border-bottom: 1px solid #aeaeae;
    padding: 20px;
}

.book_details{
    margin: 20px;
}

.a-button, .a-button:hover{
    width: auto;
    background: #5f6d7e;
    color: white;
    text-transform: uppercase;
    border: 0;
    padding: 1em 2em;
}


