#book_recent{

}

.book_right{
    text-align: right;
}

.book_usual{
    text-align: center;
}

.book_left{
    text-align: left;
}

#book_row{
    margin-right: 0;
    margin-left: 0;
}

.book_detail{
    border-bottom: 1px solid #aeaeae;
    padding: 20px;
}

#footer{
    padding-bottom: 2em;
}

